# automatically created files:
.DS_Store

virtualenv/
.idea/workspace.xml
*.sublime*

# other
static
build
.idea
_build
.coverage
htmlcov
celery.pid
selenium-screenshots/

syntax: glob
/media
*.pyc
*.swp
*.sqlite3
